<nav id="footer-nav">
  <a href="https://github.com/libremelon" class="icon"
    ><span class="pixel--github"></span
  ></a>
  <a href="https://bsky.app/profile/libremelon.com" class="icon"
    ><span class="pixel--bluesky"></span
  ></a>
  <a href="https://floss.social/@libremelon" class="icon"
    ><span class="pixel--mastodon"></span
  ></a>
  <a href="https://x.com/libremelon" class="icon"
    ><span class="dinkie-icons--twitter-alt"></span
  ></a>
  <a href="https://discord.gg/RphxHvT86e" class="icon"
    ><span class="pixel--discord"></span
  ></a>
</nav>
