html {
  background-color: #171717;
  font-family: "Geist", sans-serif;
  color: #f5f5f5;
  font-size: 2.5vh;
  height: 100vh;
}

body {
  padding: 0vw 25vw;
  margin: 0%;
  line-height: 1.6;
  min-height: 95vh;
}

#pixel-strong {
  color: #4ade80;
  font-size: 1.75rem;
  font-family: "Press Start 2P", system-ui;
}

#strong {
  color: #4ade80;
}

.title {
  margin-top: 5vh;
  margin-bottom: 1.25vh;
}

#content {
  min-height: 76vh;
}

a {
  color: #4ade80;
  text-underline-offset: 0.5vh;
  text-decoration-thickness: 0.3vh;
}

#btn,
#fake-btn {
  margin-right: 0.75vh;
  margin-bottom: 0.75vh;
  background-color: #262626;
  color: #4ade80;
  border-radius: 1vh;
  padding: 0.25vh 1.25vh;
  border: none;
}

#btn:hover,
#btn:active {
  background-color: #4ade80;
  color: #171717;
  cursor: pointer;
}

/* mobile */
@media screen and (width <= 450px) {
  #pixel-strong {
    font-size: 1.25rem;
  }

  body {
    padding: 0vw 7.5vw;
  }
}

/* tablet */
@media screen and (450px < width <= 850px) {
  #pixel-strong {
    font-size: 1.5rem;
  }

  body {
    padding: 0vw 10vw;
  }
}
