---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <nav id="header-nav">
      <ul id="header">
        <li><a href="">home</a></li>
        <li><a href="">blog</a></li>
        <li><a href="">projects</a></li>
      </ul>
    </nav>
    {{ content }}
  </body>
</html>
