---
layout: default
description: "{{ post.excerpt }}"
---

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css" />
<script
  src="https://giscus.app/client.js"
  data-repo="libremelon/libremelon.github.io"
  data-repo-id="R_kgDOPcNtzA"
  data-category="Announcements"
  data-category-id="DIC_kwDOPcNtzM4CvJ6y"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="noborder_dark"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>

<h1 class="title" id="strong">{{ page.title }}</h1>
<p id="date">{{ page.date | date_to_string }}</p>
<div id="tag-btns">
  {% for tag in page.tags %}
  <span style="display: inline-block" id="fake-btn">#{{ tag }}</span>
  {% endfor %}
</div>
{{ content }}
<br />
<hr />
<br />
<div class="giscus"></div>
